torch
torchvision
torchaudio
python-dotenv
fastapi
uvicorn
gunicorn
celery
redis
pytest
jinja2
python-multipart
opencv-python
keybert
transformers==4.36.2
sentence-transformers
SentencePiece
spacy
bert_score
evaluate
rouge_score
